body {
  font-family: system-ui;
}

article {
  background: #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

article button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

pre {
  background: #eee;
  overflow: auto;
  padding: 0.5rem;
  border-radius: 0.3rem;
  max-height: 15rem;
}

input {
  width: 0;
  min-width: 100%;
  box-sizing: border-box;
  height: 28px;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

.icon {
  width: 32px;
  height: 32px;
}